<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="JSONonly">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <services>
            <service name="JSONService">
                <endpoint address="/JSON" 
                          binding="webHttpBinding" 
                          contract="TheContract"
                          behaviorConfiguration="JSONOnly" />
            </service>
        </services>
    </system.serviceModel>
</configuration>